h1 {
	color: #dd0000;
	font-family: lato;
	font-weight: 300;
	font-size: 50px;	
}

h2 {
	color: a1a1a1;
	font-family: lato;
	font-size: 24px;
	font-weight: 400;	
}
 
h3 {
	font-family: lato;
	font-weight: 300;
	font-size: 38px;
	color:#a1a1a1;
}

h4 {
	font-family: lato;
	font-weight: 400;
	font-size: 30px;
	color:black;
}

h5 {
	font-family: lato;
	font-weight: 300;
	font-size: 18px;
	color:#bbbbbb;
}

h6{
	font-family: lato;
	font-weight: 700;
	font-size: 18px;
	color:#DD0000;
	text-align: right;
}

p {
	color: #444444;
	font-family: lato;
	line-height: 1.5;
}

.content{
	font-family: lato;
	width: 720px;
	padding: 54px;
	margin: 0 auto;
}

article{
	border-bottom-style: solid;
	border-width: 1px;
	margin: 25px;
	border-color: #878787;

}
.blacktext{
	color:black;
}

.links{
	color:#DD0000;
}

a{
	color:#DD0000
	 ;
}

a:hover { 
    color:#aa0000;
}

