body {
  background: #797890
}

p {
  color: #000000;
}
li {
  color: black;
  font-weight: 100;
  font-style: italic;
  font-size: 18px;
  font-family: helvetica;
  text-align: center;
}

a {
  color: #900;
  text-decoration:none;
}

h4 {
  color: #887;
  }

image {
  border: 30px;
  color: black;
}